:root {
  --main-color: dodgerblue;
}

*,
*::after,
*::before {
  outline: 1px dotted dodgerblue;
}

body {
  font-family: "Gelasio", serif;
  /* color: var(--main-color); */
}

/* =================== Header =================== */
.header {
  height: 136px;
}
/* =================== Hero =================== */





/* =================== ******* =================== */
/* =================== ******* =================== */
/* =================== ******* =================== */
/* =================== ******* =================== */
/* =================== ******* =================== */
/* =================== ******* =================== */
