:root {
  --black-color: #081f32;
  --accent-color: #1b75bb;
  --btn-color: #1b75bb;
}

*,
*::after,
*::before {
  outline: 1px dotted #a5ae9d;
}
/* #FCFAF9 */
body {
  color: var(--black-color);
}
body::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 690px;
  position: absolute;
  z-index: -5;
  background: linear-gradient(90deg, #fcfaf9 50%, #e7e2dd 100%);
}
body::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 690px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;

  background-image: url(./img/hero.jpg);
  background-position: top 0px left 50%;
  background-repeat: no-repeat;
}
h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}
/* =================== container =================== */
.container {
  margin: 0 auto;
  width: 1140px;
}
/* =================== Logo =================== */
.logo {
  position: relative;
  display: block;
  width: 186px;
  height: 144px;
  background-image: url(./img/logo.png);
  background-size: 144px 144px;
  background-repeat: no-repeat;
  font-family: "Gelasio", serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: var(--black-color);
}
.logo::after {
  content: "Royal Park";
  position: absolute;
  right: 0;
  top: 47%;
  transform: translateY(-50%);
}
/* =================== Button =================== */
.button {
  width: 134px;
  height: 54px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: var(--btn-color);

  font-family: "Gelasio", serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  cursor: pointer;
}
/* =================== h2 =================== */
.h2 {
  color: var(--black-color);
  font-family: "Gelasio", serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.4;
}
/* ============================================================ */
/* =================== Header =================== */
.header {
  height: 136px;
  display: flex;
  align-items: center;
}
.header .logo {
  margin-right: 128px;
}
.header-nav {
  display: flex;
}
.header-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-nav__list > li {
  margin-right: 40px;

  font-family: "Gelasio", serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.7;
}
.header .button {
  margin-left: auto;
}
/* =================== Hero =================== */
.hero {
}
.hero .container {
  padding-top: 78px;
}
.hero-title {
  color: var(--accent-color);
  margin-bottom: 15px;

  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  opacity: 0.8;
}
.hero-text {
  width: 456px;
  color: var(--black-color);
  margin-bottom: 25px;

  font-family: "Gelasio", serif;
  font-size: 57px;
  font-weight: 600;
  line-height: 1.2;
}
.hero-text > span {
  color: var(--accent-color);
}
.hero-sub-text {
  width: 347px;
  margin-bottom: 30px;

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  opacity: 0.6;
}
.button.hero {
  margin-bottom: 48px;
}
.find-room {
  /* position: absolute; */
  list-style: none;
  width: 687px;
  height: 110px;
  padding: 24px 49px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: none; */
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(70px);
}
.find-room > li:not(:last-child) {
  position: relative;
  height: 62px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.find-room > li:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 34px;
  background-color: #9dacb8;
  border-radius: 1px;
  position: absolute;
  right: -34px;
  top: 14px;
}
.find-room__item__title {
  color: var(--black-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  list-style: 1.6;
}
.find-room__item__title ~ span {
  color: var(--black-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  list-style: 1.6;
  opacity: 0.8;
}
/* =================== video presentation =================== */

/* =================== Why you choose us! =================== */
.why-us {
  margin-bottom: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.why-us .h2 {
  margin-bottom: 25px;
}
.why-us__text {
  width: 819px;
  margin-bottom: 50px;
  color: var(--black-color);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  opacity: 0.6;
}
.why-us__list {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.why-us__list>li{
  width: 262px;
  height: 258px;
  padding-top: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow:  0px 4px 30px rgba(199, 199, 199, 0.25);
}
.why-us__list>li>img{
  margin-bottom: 40px;
}
.why-ul__list__title {
  margin-bottom: 15px;
  color: var(--black-color);
  font-family: 'Gelasio', serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}
.why-ul__list__title~p{
  width: 228px;
  color: var(--black-color);
  text-align: center;
  font-family: 'Roboto', sans-serif; 
  font-size: 18;
  font-weight: 400;
  line-height: 1.6;
  opacity: 0.6;
}
/* =================== About hotel gallery =================== */
.gallery{
  margin-bottom: 140px;
}
.gallery .h2 {
  margin-bottom: 25px;
}
.gallery-text {
  width: 439px;
  margin-bottom: 30px;
  color: var(--black-color);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  opacity: 0.6;
}
.gallery-list .book-now{
  width: 105px;
  height: 41px;
}
.gallery-list{
  list-style: none;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  gap: 30px;
}
.gallery-list>li {
  width: 555px;
  height: 337px;
  position: relative;
  border-radius: 10px;
}
.gallery-list>li:nth-child(1){
  box-sizing: border-box;
  padding-top: 47px;
}
.gallery-list>li:nth-child(2){
  background-image: url(./img/gallery1.jpg);
}
.gallery-list>li:nth-child(3){
  background-image: url(./img/gallery2.jpg);
}
.gallery-list>li:nth-child(4){
  background-image: url(./img/gallery3.jpg);
}
.gallery-list>li:nth-child(5){
  background-image: url(./img/gallery4.jpg);
}
.gallery-list>li:nth-child(6){
  background-image: url(./img/gallery5.jpg);
}
.galery-list__info-block {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 231px;
  height: 126px;
  box-sizing: border-box;
  padding: 25px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}
.galery-list__info-block>p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  color: var(--black-color);
  font-family: 'Gelasio', serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
}
.galery-list__info-block>p>span {
  font-family: 'Roboto', sans-serif; 
  font-size: 12px;
  opacity: 0.8;
}
/* =================== What our client say =================== */
.feedback {

}
.feedback__show-more{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.feedback-list {
  list-style: none;
  display: flex;


  margin-bottom: 140px;
}
.feedback-list>li{
  box-sizing: border-box;
  width: 360px;
  height: 325px;
  padding: 28px 39px 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.feedback-list>li:hover{
  box-shadow: 0px 4px 30px rgba(199, 199, 199, 0.25);
}
.feedback-list>li:not(:last-child) {
  margin-right: 30px;
}
.feedback__icon {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-bottom: 25px;
  background-color: #DADADA;
  border: 2px solid var(--accent-color);
  border-radius: 50%;
  opacity: 0.6;
}
.feedback__text {
  position: relative;
  margin-bottom: 30px;
  color: var(--black-color);
  text-align: center;
  font-family: 'Roboto', sans-serif; 
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  opacity: 0.6;
}
.feedback__text::before{
  content: "\"";
  position: absolute;
  top: 0;
  left: -15px;

  color: var(--black-color);
  opacity: 0.6;
}
.feedback__name {
  margin-bottom: 5px;
  color: var(--black-color);
  font-family: 'Gelasio', serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  opacity: 0.7;

}
.feedback__mail {
  color: var(--black-color);
  opacity: 0.7;
}


.feedback-list>li:hover .feedback__icon,
.feedback-list>li:hover .feedback__text{
  opacity: 1;
}
.feedback-list>li:hover .feedback__text::before{
  color: var(--accent-color);
  opacity: 1;
}
.feedback-list>li:hover .feedback__name {
  opacity: 0.9;
}


/* =================== STAY IN TOUCH =================== */

/* =================== Footer =================== */

/* =================== ******* =================== */
/* =================== ******* =================== */
