:root {
  --main-color: dodgerblue;
}

*,
*::after,
*::before {
  outline: 1px dotted dodgerblue;
}

body {
  font-family: "Gelasio", serif;
  /* color: var(--main-color); */
}

/* =================== Header =================== */
.header {
  height: 136px;
}
/* =================== Hero =================== */

/* =================== video presentation =================== */

/* =================== Why you choose us! =================== */

/* =================== About hotel gallery =================== */

/* =================== What our client say =================== */

/* =================== STAY IN TOUCH =================== */

/* =================== Footer =================== */

/* =================== ******* =================== */
/* =================== ******* =================== */
